
<link rel="stylesheet" type="text/css" href="App/universalStyle.css">
<link rel="stylesheet" type="text/css" href="App/Hotline/HotlineStyle.css">
<center><img id="header" src="App/Materials/header.png"></center>
<div class="nav">
    <ul id="navigation">
        <li><a href="#/Home">Home</a></li>
        <li><a href="#/SpeakOut">Speak Out</a></li>
        <li><a href="#/Hotline" class="active" >Hotline</a></li>
        <li><a href="#/GoogleMap">Google Map</a></li>
        <li><a href="#/About">About</a></li>
    </ul>

    <div class="right">
        <h3>Organizations:</h3>
        
                <a href = "http://www.dswd.gov.ph/">
                    <img id="logo" height="115" width="220" alt = "DSWD" src = "App/Materials/DSWD.png"></a>
                
                <a href = "www.gabrielaph.com/">
                    <img id="logo" height="115" width="220" alt = "GABRIELA" src = "App/Materials/GABRIELA.png"></a>
                
        
    </div>

    <div class="main"> 
        <h1>Regional Hotlines:</h1>
                <h2 id="region">CAR</h2>
                <ul id="hotlineInfo">    
                    <li>40 North Drive, Baguio City</li>
                    <li>Tel.: (074) 442-7917 TF</li>
                    <li>RD: (074) 446-5961; ARD: 304-3949</li>
                    <li>HAVEN: (074) 444-5344; TAD OD Chiefs: 444-3262</li>
                    <li>CIU: (074) 444-3209; PSU GSU: 444-8129</li>
                    <li>Finance: (074) 444-3638</li>
                </ul>

                 <br>

                 <h2 id="region">REGION I</h2>
                 <ul id="hotlineInfo">    
                     <li>Quezon Avenue, San Fernando, La Union</li>
                     <li>RD: (072) 888-3527; ARD: 888-6196</li>
                     <li>OD Chief: (072) 888-6196; RMIS Unit: 888-7211</li>
                     <li>MGMT/CIU/1-STOP-SHOP: (072) 888-2505 TF</li>
                     <li>Records Section: (072) 888-2184 TF</li>
                     <li>Institutional Development Division/Planning Unit: (072) 700-1410</li>
                     <li>Hotline/Property and Supply Section/OPD: (072) 700-5064</li>
                     <li>DSWD FO I Resident Auditor: (072) 700-0727</li>
                 </ul>
 
                  <br>

                  <h2 id="region">REGION II</h2>
                  <ul id="hotlineInfo">    
                      <li>3 Dala na Pagayaya, Regional Government Center, Carig Sur, Tuguegarao City, Cagayan</li>
                      <li>Tel.: (078) 846-7043 TF</li>
                      <li>OD/TAD/NHTS-PR/Travel Clearance: (078) 846-7532</li>
                      <li>Pantawid/Convergence/SEA-K/Social Pension: (078) 846-7414</li>
                      <li>Mgt. Division/ Lobby: (078) 846-7418</li>
                      <li>RRCY (Roma, Enrile, Cagayan): (078) 501-1042</li>
                      <li>RSCC (Lingu, Solana, Cagayan): (078) 501-1038</li>
                  </ul>
  
                   <br>

                   <h2 id="region">REGION III</h2>
                   <ul id="hotlineInfo">    
                       <li>Government Center, Maimpis, San Fernando, Pampanga</li>
                       <li>Tel.: (045) 246-7021 loc. 101-102</li>
                       <li>ARD: (045) 860-5631</li>
                       <li>ARD: (045) 860-5629; ORD staff: 860-5630</li>
                       <li>HRMO: (045) 861-2413; Mgt. Division: 861-3793</li>
                   </ul>
   
                    <br>

                    <h2 id="region">NCR</h2>
                    <ul id="hotlineInfo">    
                        <li>389 San Rafael Street, corner Legarda Street, Sampaloc, Manila</li>
                        <li>Tel.: (02) 733-0010 to 14; 733-0016 to 18 TL</li>
                        <li>RD: (02) 734-8639; 488-2732; 488-3110 TF</li>
                        <li>ARD Administration: (02) 734-8642 F; 488-3104</li>
                        <li>CIU: (02) 734-8635</li>
                        <li>Travel Clearance: (02) 313-1435</li>
                    </ul>
    
                     <br>

                     <h2 id="region">REGION IV-A</h2>
                     <ul id="hotlineInfo">    
                         <li>Alabang, Zapote Road, Alabang, Muntinlupa City</li>
                         <li>RD: (02) 807-7102; ARD: 466-6279</li>
                         <li>RD: (02) 807-7102; ARD: 466-6279</li>
                         <li>PSU, CICL Hotline: (02) 387-2632</li>
                     </ul>
     
                      <br>

                      <h2 id="region">REGION IV-B</h2>
                      <ul id="hotlineInfo">    
                          <li>1680 F.T. Benitez corner Gen. Malvar Sts., Malate, Manila</li>
                          <li>Tel.: (02) 525-2445; 523-9117; 523-6077; 303-0532 to 33 TL</li>
                          <li>Fax: Dial trunkline no. and press 103</li>
                          <li>RD: (02) 524-2742; ARD: 523-5873</li>
                      </ul>
      
                       <br>

                       <h2 id="region">REGION V</h2>
                       <ul id="hotlineInfo">    
                           <li>Magnolia St., PBN Buraguis, Legaspi City</li>
                           <li>RD: (052) 480-5754 TF; 820-4637</li>
                           <li>Informations: (052) 480-5346; 820-1310</li>
                           <li>KC: (052) 820-6198; Operations: 821-7920; COA: 820-1539</li>
                       </ul>
       
                        <br>

                        <h2 id="region">REGION VI</h2>
                        <ul id="hotlineInfo">    
                            <li>M. H. del Pilar Street, Molo, Iloilo City</li>
                            <li>RD: (033) 337-6221</li>
                            <li>Technical Assistant: (033) 508-6775; 508-6867</li>
                            <li>KALAHI: (033) 336-1291; Operations Division: 300-0526</li>
                        </ul>
        
                         <br>

                         <h2 id="region">REGION VII</h2>
                         <ul id="hotlineInfo">    
                             <li>MJ Cuenco Avenue corner Gen. Maxilom Ave., Cebu City</li>
                             <li>RD: (032) 232-9507</li>
                             <li>RSCC/Travel Clearance: (032) 233-8779; CIU: 416-7646</li>
                             <li>MSD: (032) 412-9908; KC RPMO: 232-6581</li>
                             <li>SEA-K/ Operations Division/RSMU: (032) 232-1192</li>
                             <li>TAD: (032) 232-9505; Cash, Budget and Accounting: 233-0261</li>
                             <li>Property and Supply: (032) 233-8785</li>
                         </ul>
         
                          <br>

                          <h2 id="region">REGION VIII</h2>
                          <ul id="hotlineInfo">    
                              <li>Magsaysay Blvd., Tacloban City</li>
                              <li>RD: (053) 321-2040; 321-1007 F</li>
                              <li>ARD/RMIS: (053) 523-0610 F</li>
                              <li>RD: (062) 991-1001</li>
                              <li>ARD: (062) 991-8346</li>
                              <li>TAD: (062) 992-6843; CIU: 990-1608</li>
                          </ul>
          
                           <br>

                           <h2 id="region">REGION IX</h2>
                           <ul id="hotlineInfo">    
                               <li>General Vicente Alvarez St., Zamboanga City</li>
                               <li>Tel.: (062) 991-6030/56/76 TL</li>
                               <li>Operator: (062) 993-0652 F</li>
                               <li>RD: (062) 991-1001</li>
                               <li>ARD: (062) 991-8346</li>
                               <li>TAD: (062) 992-6843; CIU: 990-1608</li>
                           </ul>
           
                            <br>

                            <h2 id="region">REGION X</h2>
                            <ul id="hotlineInfo">    
                                <li>Masterson Ave., Upper Carmen, Cagayan De Oro City</li>
                                <li>RD: (088) 858-8134</li>
                                <li>Operations: (088) 858-8892; Mgt.: 858-8959 TF</li>
                                <li>ARD: (088) 858-6333; TAD: 858-8956</li>
                                <li>CIU: (088) 858-2464</li>
                            </ul>
            
                             <br>

                             <h2 id="region">REGION XI</h2>
                             <ul id="hotlineInfo">    
                                 <li>Suazo St., cor. Magsaysay Ave., Davao City</li>
                                 <li>Tel.: (082) 226-2857; 227-1964; 227-8746; 226-3736 TF</li>
                                       
                                                <li>Loc. 425 RD; 414 RD Sec.</li>
                                                <li>413 ARD; 409 ARD Sec</li>
                                                <li>422 KALAHI CIDSS</li>
                                                <li>411 GASSD</li>
                                                <li>417 OPD</li>
                                                <li>421 PPD</li>
                                                <li>416 Pantawid/Convergence/SLP</li>
                                                <li>1101 and 1102 VOIP</li>
                                     
                             </ul>
             
                              <br>

                              <h2 id="region">REGION XII</h2>
                              <ul id="hotlineInfo">    
                                  <li>9506-Purok Bumanoag, Brgy. Zone 3, Coronadal City</li>
                                  <li>RD: (083) 228-3181; 228-8637 F</li>
                                  <li>Finance: (083) 228-3180; 228-6009; 228-6102</li>
                                  <li>KALAHI: (083) 228-3607</li>
                                  <li>Operations Division: (083) 228-6080; Mgt.: 228-8637</li>
                              </ul>
              
                               <br>

                               <h2 id="region">CARAGA</h2>
                               <ul id="hotlineInfo">    
                                   <li>R. Palma St., Butuan City</li>
                                   <li>RD: (085) 342-7605; 815-9173 F</li>
                                   <li>ARD: (085) 342-5620</li>
                                   <li>Mgt.: (085) 342-5619; CIU: 346-0113</li>
                                   <li>IDD: (085) 225-8950</li>
                                   <li>CICL: (085) 346-0296</li>
                               </ul>
               
                                <br>

                                <h2 id="region">ARMM</h2>
                                <ul id="hotlineInfo">    
                                    <li>DSWD-ARMM, Brgy. Semba Dos, Maguindanao</li>
                                    <li>Tel.: (064) 431-0218 TF</li>
                                    <li>ORSEC: (064) 431-0064</li>
                                    <li>Admin.: (064) 431-0065</li>
                                </ul>

            
    </div>
    
    
</div>
</body>
</html>