.content {
    overflow: auto;
    margin: auto;
    width: 50%;
    border-radius: 50px;
    background: #f1f1f1;
    padding: 10px;
    margin-top: 10%;
}
.left{
    float: left;
    padding-left: 30px;
}

.right{
    float: right;
    padding-right: 50px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: rgba(253, 133, 163, 0.925);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

label{
    font-family: "Century Gothic", "Arial", sans-serif;
    font-size: 16px;
    color: #555;
}

a{
    float: right;
}

a:link{
    color: #555;
    text-decoration: none;
}

a:hover{
    color: #222;
}