﻿<link href="App/Login/firstPageStyle.css" rel="stylesheet" type="text/css" />
<div class="content">
    

    <div class="left">
        <img src="App/Materials/cacc2.png" class="logo">
    </div>

    <div class="right">
        <form>
            <br><br>
            <label><b>Codename</b></label><br>
            <input type="text" placeholder="Enter Codename" name="cname" required align="right">
            <br>
            <label><b>Password</b></label><br>
            <input type="password" placeholder="Enter Password" name="pwd" required>
            <br>
            <button type="submit" onclick="window.location.href='#/Home'">Login</button>
            <br>
            <a href="#/Signup">Click here to sign up.</a>

        </form>
    </div>
</div>
