﻿<!--<<div>
    <ul>
        <li><a href="#/Home">Home</a></li>
        <li><a href="#/About">About</a></li>
        <li><a href="#/SpeakOut">SpeakOut</a></li>
        <li><a href="#/GoogleMap">GoogleMap</a></li>
        <li><a href="#/Hotline">Hotline</a></li>

    </ul>
</div>-->
<style>
    blockquote {
        display: block;
        margin: auto;
        margin-left: 250px;
        /* margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px; */
        text-align: left;
        font-family: "Century Gothic";
        text-decoration-color: #fa7da7;
        font-size: 18px;
        color: #92055a;
    }

    .wrapper {
        padding: 5px 5px 5px 100px;
        text-align:center;
    }
</style>
<link rel="stylesheet" type="text/css" href="App/universalStyle.css">
<div class="nav">
    <center><img id="header" src="App/Materials/header.png"></center>
    <ul>
        <li><a class="active" href="#/Home" style="color:white">Home</a></li>
        <li><a href="#/SpeakOut">Speak Out</a></li>
        <li><a href="#/Hotline">Hotline</a></li>
        <li><a href="#/GoogleMap">Google Map</a></li>
        <li><a href="#/About">About</a></li>
    </ul>
    <div class="right">
        <h3>Organizations:</h3>

        <a href="http://www.dswd.gov.ph/">
            <img id="logo" height="115" width="220" alt="DSWD" src="App/Materials/DSWD.png">
        </a>

        <a href="www.gabrielaph.com/">
            <img id="logo" height="115" width="220" alt="GABRIELA" src="App/Materials/GABRIELA.png">
        </a>


    </div>

    <div class="main">
        <br>
        <iframe width="560" height="315" class="wrapper" 
            src="https://www.youtube.com/embed/XY64RbXmhhY?rel=0" frameborder='0'>
        </iframe>
        <br>
        <br>
        <blockquote class="blockquote">
            <font face="Georgia" size="32"> &quot; </font> <br>
            Hearing women talk about their <br>
            experiences of abuse and violence, <br>
            sometimes over long periods of time, <br>
            will help other women feel less alone, <br>
            recognise abuse and seek help. <br>
            <font face="Georgia" size="32"> &quot; </font>
        </blockquote>

    </div>
</div>