﻿<style>
    .main ul {
        list-style-type: none;
        margin: 0;
        padding: 8px 8px 8px 8px;
        overflow: hidden;
        background-color: white;
        font-family: 'Century Gothic';
        width: 100%;
        float: none;
    }

    .main li {
        float: none;
        display: list-item;
    }

        .main li a {
            display: block;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            .main li a:hover:not(.active) {
                background-color: rgba(253, 133, 163, 0.925);
            }

    .align {
        text-align: left;
    }
</style>

<link rel="stylesheet" type="text/css" href="App/universalStyle.css">
<div>
    <!--<<div>
        <ul>
            <li><a href="#/Home">Home</a></li>
            <li><a href="#/About">About</a></li>
            <li><a href="#/SpeakOut">SpeakOut</a></li>
            <li><a href="#/GoogleMap">GoogleMap</a></li>
            <li><a href="#/Hotline">Hotline</a></li>

        </ul>
    </div>-->

    <div class="nav">
        <center><img id="header" src="App/Materials/header.png"></center>
        <ul>
            <li><a href="#Home">Home</a></li>
            <li><a class="active" href="#/SpeakOut">Speak Out</a></li>
            <li><a href="#/Hotline">Hotline</a></li>
            <li><a href="#/GoogleMap">Google Map</a></li>
            <li><a href="#/About">About</a></li>
            
            
        </ul>

        <!--<div class="right">
            <img src="App/Materials/cacc2.png">
        </div>
        <div class="main">
            <img src="App/Materials/cacc.png">
        </div>-->
        <div class="main">

            <div class="wrapper">
                <textarea ng-model="comment" placeholder="Add your 'Me too experience'" wrap="soft" rows="4" cols="60" draggable="false" ng-required="true"></textarea>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button ng-click="checkComment(comment)" style="width: 100px">Send</button>


            <h1 class="wrapper1">Sanctions</h1>
            <span class="wrapper1">{{data.Law}}</span><br />

            <h1 class="wrapper1">Tips</h1>
            <ul ng-repeat="x in data.Link">
                <li>
                    {{x}}
                </li>
            </ul>
  
            <!--<span class="wrapper1">{{data.Link}}</span>-->
</div>
    </div>

</div>
<style>
    .wrapper {
        padding: 10px 10px 0px 10px;
   
    }
    .wrapper1 {
        padding: 10px 10px 10px 10px;
        font-family: 'Century Gothic'
    }
</style>