﻿<!--<<div>
    <ul>
        <li><a href="#/Home">Home</a></li>
        <li><a href="#/About">About</a></li>
        <li><a href="#/SpeakOut">SpeakOut</a></li>
        <li><a href="#/GoogleMap">GoogleMap</a></li>
        <li><a href="#/Hotline">Hotline</a></li>

    </ul>
</div>-->
<link rel="stylesheet" type="text/css" href="App/universalStyle.css">
<div class="nav">
    <center><img id="header" src="App/Materials/header.png"></center>
    <ul>
        <li><a  href="#/Home" style="color:white">Home</a></li>
        <li><a href="#/SpeakOut">Speak Out</a></li>
        <li><a href="#/Hotline">Hotline</a></li>
        <li><a href="#/GoogleMap">Google Map</a></li>
        <li><a class="active" href="#/About">About</a></li>
    </ul>

    <div class="right">
        <img src="App/Materials/cacc2.png">
    </div>

    <div class="main">
        <br>
        <p><center><font size="6 px" font face="Century Gothic">Speak Out! Be a voice against violence</p>
        <p>
            <center>
                <font size="3 px" font face="Century Gothic" class="wrapper">
                    Violence against women is one of the most widespread violations of human rights
                    in the world. This violence takes many forms including: physical, sexual and psychological abuse,
                    as well as harmful cultural practices such as forced child marriage.
                    Victim-blaming not only trivializes and normalizes violence against women,
                    it encourages rape culture and adversely affects women’s access to justice.
                    This website was developed to serve as a voice against violence. Women will be able to practice to speak their rights,
                    and also get help and support on domestic violence.
        </p>

    </div>
</div>
<style>
    .wrapper {
        padding: 5px 5px 5px 5px;
    }
</style>