<link rel="stylesheet" type="text/css" href="hotlinePageStyle.css">
<center><img id="header" src="../Materials/header.png"></center>
<div class="nav">
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#speakout">Speak Out</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#hotline" class="active" >Hotline</a></li>
        <li><a href="#map">Google Map</a></li>
    </ul>

    <div class="right">
        <img src="../Materials/cacc2.png">
    </div>
    <div class="main"> 
            <div class="gallery">  
                    <img src="Material/Association of Rural Women of Tarlac and Pampanga, Inc..png" alt="Association of Rural Women of Tarlac and Pampanga, Inc." width="550" height="300">
                  <br>
                  <div>It aims to produce disciplined empowered women and establish a strong, well-built
                       <br> network and linkages with local and international women organizations. It provides 
                       <br> continuous educational assistance to children, and seminars informing of the violence 
                       <br> against women and how to prevent them.
                       <br><br>
                              <b>Address:</b> 129 Pinatubo St., 1550 Mandaluyong City, Philippines, <br>
                              <b>Contact:</b> (632)531-2202 <br>
                              <b>Email:</b>   pengsimon143@yahoo.com
                  </div>
              
                  <br><br>    
              
                </div>
                
                <div class="gallery">
                
                    <img src="Material/Batis Center for women.png" alt="Batis Center for women" width="550" height="300">
                  <div class="desc">To fight gender oppression, trafficking, violence against migrant women and other 
                      <br>forms of human rights violation
                          <br><br>
                                 <b>Address:</b> 301 UCCP Bldg., 877 EDSA, 1104 Quezon City, Philippines, <br>
                                 <b>Contact:</b> (632) 925-3822 <br>
                                 <b>Email:</b>   batis@pacific.net.ph
                     </div>
                 
                     <br><br>    
                 
                   </div>
                
                <div class="gallery">
                    <img src="Material/Philippine Commission on Women.png" alt="Philippine Commission on Women.png" width="550" height="300">
              
                  <div class="desc">is a government agency run by the government of the Philippines with the intention 
                      <br>of promoting and protecting the rights of the Women in the Philippines. 
                       <br><br>
                          <b>Address:</b> 1145 J.P. Laurel St., San Miguel Manila 1005 Philippines,<br>
                          <b>Contact</b>: +632.7365249 or +632.7367712 <br>
                          <b>Email:</b>   edo@pcw.gov.ph
                           
                         <br><br>    
                     
              
                
                <div class="gallery">
                  
                    <img src="Material/Democratic Socialist Women of the Philippines.png" alt="Democratic Socialist Women of the Philippines" width="550" height="400">
              
                  <div class="desc">community-based women able to significantly contribute to the Filipino women's 
                      <br>empowerment as well as the development of a Philippine society that fully recognizes, 
                      <br>respects, and promotes the rights of all its citizens.
                           <br><br>
                              <b>Address:</b> Balay BABAYI, 4-A Maalindog St., UP Village, Diliman, 1128 Quezon City, <br>Philippines<br>
                              <b>Contact:</b> (632) 927-1766<br>
                              <b>Email:</b>   dswp@siw.org.ph
                          </div>
              
                <div class="gallery">
                     
                        <img src="Material/Coalition Against Trafficking in Women - Asia-Pacific (CATWAP).png" alt="(CATWAP)" width="550" height="400">
                      <div class="desc">To promote awareness on women’s human rights and initiate action against
                          <br> global sexual exploitation and violence against women, particularly prostitution and 
                          <br>trafficking
                                   <br><br>
                                      <b>Address:</b> Rm. 608, Sterten Place, 116 Maginhawa Street, Teachers Village, 1101 <br>Quezon City, Philippiness<br>
                                      <b>Contact:</b> 632) 434-2149<br>
                                      <b>Email:</b>   catw-ap@catw-ap.org
                                  </div>
                      
    </div>
    
    
</div>
